body {
    font-family: "Menlo", "monaco", monospace;
    margin: 50px;
    margin-top: 0px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

div {

}

#status {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 50px;
}
