body {
    margin-top: 20px;
    margin-left: 20px;
    font-family: monospace;    
}

.entry {
    display: relative;
    float: left;
    padding: 0px;
    min-width: 300px;
    max-width: 400px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.caption {
    border: 1px solid black;
    padding: 20px;
    width: 358px;
}

img {
    max-width: 400px;
    max-height: 400px;
}