<html>
<head>
    <title>Everything That Happens Will Happen Today</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>


{% for entry in entries %}


    <div class="entry">
        <div class="caption">
            {{ entry.time }}<br />
            {{ entry.address }}: {{ entry.place }}<br />
            <br />
            {{ entry.action }}
            {% if entry.observation != 'SKIP' %}
                <br />
                <br />
                {{ entry.observation }}
            {% endif %}
        </div>
    {% for image in entry.images %}
        <img src="images/{{ image }}" {% if not loop.last %}style="margin-bottom: 20px;"{% endif %} />        
    {% endfor %}
    </div>

    <div class="entry">
        <div class="caption">
            At {{ entry.transition.time }} {{ entry.transition.mode }}
        </div>
        {% for image in entry.transition.images %}
            {% if image is not none %}
                <img src="images/{{ image }}" {% if not loop.last %}style="margin-bottom: 20px;"{% endif %} />        
            {% endif %}
        {% endfor %}
    </div>

{% endfor %}

</body>
</html>