<html>
<head>
    <title>Everything That Happens Will Happen Today</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>


{% for entry in entries %}


    <!-- <div class="entry"> -->
    <div class="entry caption">
        {{ entry.time }}<br />
        {{ entry.address }}: {{ entry.place }}<br />
        {% if entry.action != 'SKIP' %}
        <br />
        {{ entry.action }}
        {% endif %}
        {% if entry.observation != 'SKIP' %}
            <br />
            <br />
            {{ entry.observation }}
        {% endif %}
    </div>

    {% for image in entry.images %}
        {% if image is not none %}
        <img class="entry" src="images/{{ image }}" {% if not loop.last %}style="margin-bottom: 20px;"{% endif %} />        
        {% endif %}
    {% endfor %}

    {% if entry.transition != "SLEEP" %}

        <div class="entry caption">
            At {{ entry.transition.time }} {{ entry.transition.mode }}
        </div>

        {% for image in entry.transition.images %}
            {% if image is not none %}
                <img class="entry" src="images/{{ image }}" />        
            {% endif %}
        {% endfor %}

    {% endif %}

{% endfor %}

</body>
</html>