<!doctype html> 
<html> 
<head>     
    <title>{% block title %}Following AI Piece{% endblock title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/bridge.js"></script>
    {% block head %}
    {% endblock head %}
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>